export PROJECT_NAME=cloudformation-handson
export KEY_PAIR_NAME=cloudformation-handson
export ENVIORNMENT_NAME=dev
export PROFILE=cloudformation-handson
export APP_S3_BUCKET=cloudformation-hands-on-api
export APP_S3_KEY=sample.zip
export SERVICE_NAME=api
export PRIVATE_DOMAIN_NAME=private-cloudformation-handson.com
export DOMAIN_NAME=public-cloudformation-handson.com
